<% provide(:title, "TG") %>
<div class="center jumbotron">
    <%= image_tag 'dsc9127.jpg', :size => '750x500', skip_pipeline: true %>
    <%= image_tag 'dsc9032.jpg', :size => '750x500', skip_pipeline: true %>
    <%= image_tag 'dsc9005.jpg', :size => '750x500', skip_pipeline: true %>
    <%= image_tag 'dsc9096.jpg', :size => '750x500', skip_pipeline: true %>
</div>